[submodule "thirdparty/CascLib"]
	path = thirdparty/CascLib
	url = https://github.com/ladislav-zezula/CascLib.git
[submodule "thirdparty\\plog"]
	path = thirdparty\\plog
	url = https://github.com/SergiusTheBest/plog
